*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: burlywood;
    width: 90%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
}

.logo{
    display: inline-block;
    width: 30%;
}


.logo a{
    text-decoration: none;
    color: orange;
    font-size: 30px;
    text-shadow: 0 4px 2px orangered;
    cursor: grab;
    
}


nav {
    background-color: aliceblue;
    height: 100px;
}

nav ul {
    list-style-type:none ;
    float: right;
    width: 50%;
}

nav ul li{
    display: inline-block;
    border-right: 2px solid black;
}

nav ul li:last-child{
    border:none
}


nav ul li a{
    text-decoration: none;
    color: brown;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.banner{
    height: 300px;
    background-color: lightgrey;



}

.banner div{
    height: 100px;
}

.first{
    font-size: 20px;
    margin-left: 0;
    animation: move 2s linear  infinite alternate-reverse;


}


@keyframes move{
    from{
        margin-left: 0;

    }
    40%{
        font-size: 40px;
        color: brown;
    }
    to{


        margin-left: 85%;
    }
}





.second{
    text-align: center;
    font-size: 64px;
    color:orange;
    font-weight: bold;
    letter-spacing: 4px;
    animation: appear 2s linear  infinite  ;


}

@keyframes appear {
    from{
        height: 0;
        overflow: hidden;
    }

    to{
        height: 76px;
        overflow:hidden
    }


}





.third{
    text-align: center;
    color: white;
    font-weight: bold;

    animation: flyup 2s linear infinite ;



}


@keyframes flyup{
    from{
        transform: translateY(75px) scale(0);
        opacity: 0;
    }

    to{
        transform: translateY(0) scale(1.2);
        opacity: 100%;


    }


}


.title{

    color: darkgoldenrod;
    font-weight: bold;
    letter-spacing: 4px;
    padding: 8px;
    text-align: center;
}
.journey{
    height: 300px;
    background-color: darkgrey;


}

.slideshow{
    height: 250px;
    background-color: white;
    width: 80%;
    margin: 0 auto;

    background-image: url(./imges/2019.jpg);
    animation: slideshow 20s infinite ;
    background-size: cover;
}


@keyframes slideshow{
    0%{
        background-image: url(./imges/2019.jpg);
    }
    25%{
        background-image: url(./imges/2020.jpg);
    }
    50%{
        background-image: url(./imges/2021.jpg);
    }
    75%{
        background-image: url(./imges/2022.jpg);
    }
    100%{
        background-image: url(./imges/2019.jpg);
    }
}


.course{
    background-color: grey;
}

.course-card{
    background-color: white;
    width: 90%;
    height: 180px;

    margin: 0 auto;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.course-card img {
    width: 40%;
    height: 100%;
    float: left;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.course-info{
    width: 60%;
    float: right;

    padding: 10px 15px;

}

.level{
    color: brown;
}

.course-info h3{
    font-size: 20px;
}

.course-info h4{
    font-size: 16px;
    color: darkgray;
}



.footer{
    background-color:crimson;
    text-align: center;
    font-size: 12px;

}

table{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    border-collapse: collapse;

}

thead{
    height: 75px;
    background-color: lightslategray;
}

thead tr th:first-child{
    width: 50%;
}

thead tr th:nth-child(3){
    width: 30%;
}
tbody tr{
    height: 50px;
}

tbody tr:nth-child(odd){
    background-color: lightgray;
}

tbody tr:nth-child(even){
    background-color: dimgray;
}

tbody tr:hover{
    background-color: teal;
}

td, th{
    border: 3px solid white;

}

.teacher-card{
    width: 200px;
    height: 300px;
    background-color: wheat;

    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    transition: 0.25s all linear;
    margin: 5px;
    margin-bottom: 20px;
    
    overflow: hidden;
    display: inline-block;

}

.teacher-card img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 4px white;

}

.teacher-card:hover{
    transform: scale(1.1);
}

.teacher{
    text-align: center;
}

